archive/
bin/
cft.archive/
cft.in/
cft.out/
data/
ext/
logapp/
logctm/
reprise/
virtualenv/
livraison/
tmp/
*.pyc
*.idea
htmlcov
*/.coverage
*.p
*.df
*.egg-info
*.xlsx
.coverage
build
dist
/.scannerwork/
__pycache__
bin/
.vscode
*/.ipynb_checkpoints
parm/ci6.conf

!bin/pairing_venv.py
!cft.in/.keep
!cft.out/.keep
!data/.keep
!ext/ssl/.keep
!logapp/batch.log
!logctm/.keep
!virtualenv/.keep
!tmp/sqoop/last_value/.keep
