 
archive/
cft.archive/
cft.in/
cft.out/
ext/
logapp/
logctm/
reprise/
virtualenv/
livraison/
tmp/sqoop/last_value/CDC_1/
*.pyc
*.idea
htmlcov
*/.coverage
*.p
*.df
*.egg-info
*.xlsx
.coverage
build
dist
/.scannerwork/
__pycache__

*/.ipynb_checkpoints


!bin/pairing_venv.py
!cft.in/.keep
!cft.out/.keep
!data/.keep
!ext/ssl/.keep
!logapp/batch.log
!logctm/.keep
!virtualenv/.keep
!tmp/sqoop/last_value/.keep
test/ppp.py
metastore_db